<div data-ng-show="isReady()">
    <div data-ng-repeat="(y, row) in getMap() track by $index">
        <div data-ng-repeat="(x, block) in row track by $index">
            <div data-ng-class="block.getCssClasses()"
                 data-ng-style="{top: (y * 50) + 'px', left: (x * 50) + 'px'}">
            </div>
        </div>
    </div>

    <div data-ng-repeat="(color, character) in getCharacters()">
        <div data-character="character" data-color="color"></div>
    </div>
</div>

<div class="fullscreen-block" data-ng-show="game.hasOpenedMenu()">
    <div class="menu">
        <div class="menu-title" data-ng-show="isWon()">Level complete!</div>
        <div class="menu-title" data-ng-hide="isWon()">{{game.getLevel().getName()}}</div>
        <div class="menu-item" data-ng-click="game.closeMenu()" data-ng-hide="isWon()">Continue</div>
        <div class="menu-item" data-ng-click="game.startLevel(game.getLevel().getFile())">Restart</div>
        <div class="menu-item" data-ng-click="(state = 'levels') && game.closeMenu()">Select level</div>
    </div>
</div>
